<h1>Profil</h1>
<p>
	Name : <%= @first_name %> <%= @last_name %><br>
	Date of birth : <%= @date_of_birth %><br>
	Lives in : <%= @address %><br>
</p>


<!-- 2.7. Afficher un utilisateur

Sur chaque page potin, 
- nous avons un lien pour afficher la page profil de son utilisateur. 
- La page profil devra afficher les informations importantes de l'utilisateur. -->
